@using StoreMVC.Models.Domain
@model IList<Product>

<a class="button" asp-controller="Product" asp-action="Create">Create Product</a>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Manufacturer</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img height="100px" width="100px" src="@item.ImageFileName" /></td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Category</td>
                <td>@item.Manufacturer</td>
                <td>@item.Price</td>
                <td>
                    <a class="buttonEdit" asp-action="Edit">Edit </a>
                    <a class="buttonDelete ml-2" asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>